{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="hero-section">

        <h1>
            Machine Health Prediction Dashboard
        </h1>

        <p>
            Predict industrial machine failures using
            LightGBM and contextual IoT features.
        </p>

    </div>


    <div class="card shadow-lg mt-4">

        <div class="card-header bg-dark text-white">

            <h4>
                Prediction Form
            </h4>

        </div>

        <div class="card-body">

            <form action="/predict" method="POST">

                <label>Machine Type</label>

                <select name="Type"
                        class="form-control mb-3">

                    <option>L</option>
                    <option>M</option>
                    <option>H</option>

                </select>


                <input type="number"
                       step="0.1"
                       name="Air_temperature_K"
                       class="form-control mb-3"
                       placeholder="Air Temperature (K)"
                       required>


                <input type="number"
                       step="0.1"
                       name="Process_temperature_K"
                       class="form-control mb-3"
                       placeholder="Process Temperature (K)"
                       required>


                <input type="number"
                       step="0.1"
                       name="Rotational_speed_rpm"
                       class="form-control mb-3"
                       placeholder="Rotational Speed (RPM)"
                       required>


                <input type="number"
                       step="0.1"
                       name="Torque_Nm"
                       class="form-control mb-3"
                       placeholder="Torque (Nm)"
                       required>


                <input type="number"
                       step="0.1"
                       name="Tool_wear_min"
                       class="form-control mb-3"
                       placeholder="Tool Wear (Minutes)"
                       required>


                <input type="number"
                       step="0.1"
                       name="Ambient_Temperature"
                       class="form-control mb-3"
                       placeholder="Ambient Temperature (°C)"
                       required>


                <input type="number"
                       step="0.1"
                       name="Load_Density"
                       class="form-control mb-3"
                       placeholder="Load Density (%)"
                       required>


                <input type="number"
                       step="0.1"
                       name="Humidity"
                       class="form-control mb-3"
                       placeholder="Humidity (%)"
                       required>


                <label>Shift</label>

                <select name="Shift"
                        class="form-control mb-3">

                    <option>Morning</option>
                    <option>Evening</option>
                    <option>Night</option>

                </select>


                <label>Day Type</label>

                <select name="Day_Type"
                        class="form-control mb-4">

                    <option>Weekday</option>
                    <option>Weekend</option>

                </select>


                <button type="submit"
                        class="btn btn-primary btn-lg w-100">

                    Predict Machine Health

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}